    .navbar {
        padding: 20px 0;
    }
    
    ul {
        list-style-type: none;
        display: inline;
    }
    
    li {
        /* display: flex; */
        padding: 0 12px;
        display: inline-flex;
    }
    
    .boton {
        display: flex;
        padding: 0.5rem 1rem;
        background-color: #bdf6f6;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 0.25rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        min-width: 80px;
    }
    
    .arrow {
        width: 25px;
    }
    
    .seccion {
        display: inline;
    }
    
    .carrusel {
        display: flex;
        justify-content: space-between;
        padding: 33px 0;
        margin: 2px 0;
        /* background-color: yellowgreen; */
    }
    
    .sitios {
        background-color: rgb(240, 240, 200);
    }
    
    .controles {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .search {
        width: 35%;
    }
    
    .tarjetas {
        display: flex;
        justify-content: space-around;
        margin: 35px 0;
    }
    
    .card {
        padding: 0;
    }
    
    .infoTarjeta {
        display: flex;
        justify-content: space-between;
    }
    
    .infoTarjeta,
    p {
        margin: 0;
    }
    
    .card img {
        height: 120px;
        object-fit: cover;
    }
    
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .social {
        width: 40px;
    }
    
    .formContacto {
        display: flex;
        align-items: center;
        justify-content: center;
        /* min-height: 100vh; */
    }
    
    .form {
        width: 450px;
    }
    /* table {
        padding: 0;
    } */